<div class="row">
  <div class="col">
    <img src="" alt="" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="manageDropdown">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    Description
  </div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>
