<div class="row">
  <div class="col-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <ul class="list-group">
      <!-- prettier-ignore-attribute -->
      <a
        style="cursor: pointer"
        class="list-group-item"
        *ngFor="let ingredient of ingredients; let i = index;"
        (click)="onEditItem(ingredient.id)"
        >{{ ingredient.name }} ({{ ingredient.amount }})</a
      >
    </ul>
    <h3 *ngIf="ingredients.length == 0">
      There are no ingredients yet
    </h3>
  </div>
</div>
