<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
  <hr style="width: 100%;" />
  <div class="row">
    <div class="col-12">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let recipe of recipes"
      >
        <div class="float-left">
          <h4>{{ recipe.name }}</h4>
          <p>{{ recipe.description }}</p>
        </div>
        <span class="float-right">
          <img
            src="{{ recipe.imagePath }}"
            alt="{{ recipe.name }}"
            class="img-fluid"
            style="max-height: 50px;"
          /> </span
      ></a>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>
