<div class="row">
  <div class="col-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
  <hr />
  <div class="col-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"
    ></app-recipe-item>
    <h3 *ngIf="recipes.length == 0 && !isLoading">
      There are no recipes yet.
    </h3>
    <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert>
    <app-spinner *ngIf="isLoading"></app-spinner>
  </div>
</div>
